{% load static %}

<div class="d-flex pt-5 justify-content-center " >
    <hr><hr><hr><hr>

    {% for hero in radiant_heros %}
        
        <div class="d-flex flex-column" style="max-width: 122px;">
            <button class="btn-sm mt-2 pl-0 pr-0 text-center font-weight-bold btn blue-grey darken-3 text-default custom-no-shadows font-weight-bold {{hero.invisible}}" data-toggle="collapse" data-target="#collapseExample{{hero.index}}">
                {{hero.name}}
            </button>

            <div class="collapse pl-1 pr-1 " id="collapseExample{{hero.index}}" >

                <div class="media blue-grey darken-1 m-0" data-toggle="tooltip" data-placement="left" title="Hero Attribute">
                    <div class="media-body d-flex flex-row justify-content-center pb-1 grey-text2" >
                        <div class="d-flex flex-column align-items-start" >
                            <li class="list-inline-item pt-1 pl-2 text-default"><a ><img class="icon" src="{% static 'img/attribute/icon_strength.png' %}"><small> {{hero.strength}}</small><img></a></li>
                            <li class="list-inline-item pt-1 pl-2 text-default"><a><img class="icon" src="{% static 'img/attribute/icon_agility.png' %}"><small> {{hero.agility}}</small><img></a></li>
                            <li class="list-inline-item pt-1 pl-2 text-default"><a><img class="icon" src="{% static 'img/attribute/icon_intelligence.png' %}"><small> {{hero.intelligence}}</small><img></a></li>
                        </div>
                        <div class="d-flex flex-column align-items-start" >
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/attack.png' %}"><small> {{hero.attack_min}}-{{hero.attack_max}}</small><img></a></li>
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/defend.png' %}"><small> {{hero.armor}}</small><img></a></li>
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/movement.png' %}"><small> {{hero.movement}}</small><img></a></li>
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-2   mt-1" data-toggle="tooltip" data-placement="left" title="Works well with">
                    <i class="fas fa-user-friends pl-2 pt-2 pr-1 green-text"></i>
                    <div class="media-body" >
                        <div class="mb-1 mt-1 ml-2">
                            {% for h in hero.work_well_with %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-3   mt-1" style="width: 100%;" data-toggle="tooltip" data-placement="left" title="Good against">
                    <i class="fas fa-laugh pl-2 pt-2 pr-1 blue-text"></i>
                    <div class="media-body">
                        <div class="mb-1 mt-1 ml-2" >
                            {% for h in hero.good_against %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-4   mt-1" data-toggle="tooltip" data-placement="left" title="Bad against">
                    <i class="fas fa-skull-crossbones pl-2 pt-2 pr-1 red-text"></i>
                    <div class="media-body" >
                        <div class="mb-1 mt-1 ml-2" >
                            {% for h in hero.bad_against %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <div class="container" style="width: 16vh;"></div>
    
    
    {% for hero in dire_heros %}
        <div class="d-flex flex-column" style="max-width: 122px;">
            <button class="btn-sm mt-2 pl-0 pr-0 text-center font-weight-bold btn blue-grey darken-3 text-default custom-no-shadows font-weight-bold {{hero.invisible}}" data-toggle="collapse" data-target="#collapseExample{{hero.index}}">
                {{hero.name}}
            </button>

            <div class="collapse pl-1 pr-1 " id="collapseExample{{hero.index}}" >

                <div class="media blue-grey darken-1 m-0" data-toggle="tooltip" data-placement="left" title="Hero Attribute">
                    <div class="media-body d-flex flex-row justify-content-center pb-1 grey-text2" >
                        <div class="d-flex flex-column align-items-start" >
                            <li class="list-inline-item pt-1 pl-2 text-default"><a ><img class="icon" src="{% static 'img/attribute/icon_strength.png' %}"><small> {{hero.strength}}</small><img></a></li>
                            <li class="list-inline-item pt-1 pl-2 text-default"><a><img class="icon" src="{% static 'img/attribute/icon_agility.png' %}"><small> {{hero.agility}}</small><img></a></li>
                            <li class="list-inline-item pt-1 pl-2 text-default"><a><img class="icon" src="{% static 'img/attribute/icon_intelligence.png' %}"><small> {{hero.intelligence}}</small><img></a></li>
                        </div>
                        <div class="d-flex flex-column align-items-start" >
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/attack.png' %}"><small> {{hero.attack_min}}-{{hero.attack_max}}</small><img></a></li>
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/defend.png' %}"><small> {{hero.armor}}</small><img></a></li>
                            <li class="list-inline-item pt-1 text-default"><a><img class="icon" src="{% static 'img/attribute/movement.png' %}"><small> {{hero.movement}}</small><img></a></li>
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-2   mt-1" data-toggle="tooltip" data-placement="left" title="Works well with">
                    <i class="fas fa-user-friends pl-2 pt-2 pr-1 green-text"></i>
                    <div class="media-body" >
                        <div class="mb-1 mt-1 ml-2">
                            {% for h in hero.work_well_with %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-3   mt-1" style="width: 100%;" data-toggle="tooltip" data-placement="left" title="Good against">
                    <i class="fas fa-laugh pl-2 pt-2 pr-1 blue-text"></i>
                    <div class="media-body">
                        <div class="mb-1 mt-1 ml-2" >
                            {% for h in hero.good_against %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="media blue-grey darken-4   mt-1" data-toggle="tooltip" data-placement="left" title="Bad against">
                    <i class="fas fa-skull-crossbones pl-2 pt-2 pr-1 red-text"></i>
                    <div class="media-body" >
                        <div class="mb-1 mt-1 ml-2" >
                            {% for h in hero.bad_against %}
                                {% with "img/hero_icon/"|add:h|add:"_minimap_icon.png" as img %}
                                    <li class="list-inline-item "><a href="#" ><img class="icon" src="{% static img %}"><img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
    <hr><hr><hr><hr>
</div>
