{% load static %}

<!-- JQuery -->
<script type="text/javascript" src="{% static 'mdb/js/jquery.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'mdb/js/popper.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/bootstrap.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'mdb/js/mdb.js' %}"></script>

<script type="text/javascript">
    // Animations initialization
    // new WOW().init();

    $("[title]").tooltip({
        delay: { "show": 100, "hide": 1000 },
        offset: '0 10',
        template: '<div class="tooltip" role="tooltip"><div class=""></div><div class="tooltip-inner text-default rounded-0"></div></div>'
        
        });

    $(function () {
        var selectedClass = "";
        $(".filter").click(function () {
        selectedClass = $(this).attr("data-rel");
        $("#gallery").fadeTo(100, 0.1);
        $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
        setTimeout(function () {
            $("." + selectedClass).fadeIn().addClass('animation');
            $("#gallery").fadeTo(300, 1);
        }, 300);
        });
        });
    
    async function checkUpdate()
    {
        const response = await fetch('http://localhost:5000/html_update');
        const res = await response.json()
        // res = "0"
        console.log("x")
        if( res == "1"){
            location.reload();
        }else{
            setTimeout(() => {
                checkUpdate()
            }, 1000); 
        }
    }
    checkUpdate();

    // Doughnut

    
    const color = ["#004d40", "#00796b", "#4db6ac", "#006064", "#4dd0e1", "#01579b", "#03a9f4"]

    // radiant
    var ctxD = document.getElementById("SummaryRadiantAttackType").getContext('2d');
        var attack_type_key = {{ summary.0.abilities.attack_type.key|safe }};
        var attack_type_value = {{ summary.0.abilities.attack_type.value|safe}};
        
        var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: attack_type_key,
            datasets: [{
            data: attack_type_value,
            backgroundColor: color,
            hoverBackgroundColor:  color,
            borderColor:  color,
            hoverBorderColor: color,
            }]
        },
        options: {
            responsive: true,
            legend: {
            position: 'right',
            align: 'center',
            labels: {
                padding: 10,
                fontColor: '#2bbbad',
            }
            }
        }
        });
    
    //radiant
    var ctxD = document.getElementById("SummaryRadiantDemageType").getContext('2d');
        var attack_type_key = {{ summary.0.abilities.demage_type.key|safe }};
        var attack_type_value = {{ summary.0.abilities.demage_type.value|safe}};
        
        var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: attack_type_key,
            datasets: [{
            data: attack_type_value,
            backgroundColor: color,
            hoverBackgroundColor:  color,
            borderColor:  color,
            hoverBorderColor: color,
            }]
        },
        options: {
            responsive: true,
            legend: {
            position: 'right',
            align: 'center',
            
            labels: {
                padding: 10,
                fontColor: '#2bbbad',
            }
            }
        }
        });
    
    // dire
    var ctxD = document.getElementById("SummaryDireAttackType").getContext('2d');
        var attack_type_key = {{ summary.1.abilities.attack_type.key|safe }};
        var attack_type_value = {{ summary.1.abilities.attack_type.value|safe}};
        
        var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: attack_type_key,
            datasets: [{
            data: attack_type_value,
            backgroundColor: color,
            hoverBackgroundColor:  color,
            borderColor:  color,
            hoverBorderColor: color,
            }]
        },
        options: {
            responsive: true,
            legend: {
            position: 'right',
            align: 'center',
            labels: {
                padding: 10,
                fontColor: '#2bbbad',
            }
            }
        }
        });
    
    //dire
    var ctxD = document.getElementById("SummaryDireDemageType").getContext('2d');
        var attack_type_key = {{ summary.1.abilities.demage_type.key|safe }};
        var attack_type_value = {{ summary.1.abilities.demage_type.value|safe}};
        
        var myLineChart = new Chart(ctxD, {
        type: 'doughnut',
        data: {
            labels: attack_type_key,
            datasets: [{
            data: attack_type_value,
            backgroundColor: color,
            hoverBackgroundColor:  color,
            borderColor:  color,
            hoverBorderColor: color,
            }]
        },
        options: {
            responsive: true,
            legend: {
            position: 'right',
            align: 'center',
            
            labels: {
                padding: 10,
                fontColor: '#2bbbad',
            }
            }
        }
        });

</script>