{% load static %}

<footer class="fixed-bottom">
    <div class="container d-flex align-items-end justify-content-md-end" style="width: 600px;">
    

        {% for stat in statistics %}
            <!-- hero statistics -->
            <div class="gallery" id="gallery">

                <div class="animation {{stat.id}} card card-list mb-4 blue-grey darken-1"
                    data-toggle="modal"
                    data-target="#basicExampleModal"
                    style="{% if not stat.show %} display: none; {% endif %}">

                    <table class="table table-borderless">
                        <div class="p-2 pr-3 pl-3 d-flex justify-content-between align-items-center blue-grey darken-2">
                            <p class="h5-responsive font-weight-bold mb-0"></i>{{stat.title}} - <small>This week</small></p>
                            <p class="h5-responsive font-weight-bold mb-0"><a class=" filter pl-3" data-rel="close"><i class="fas fa-times"></i></a></p>
                        </div>
                        <thead> 
                            <tr>
                                <th class="font-weight-bold pb-1 pt-2" scope="col">Hero</th>
                                <th class="font-weight-bold pb-1 pt-2" scope="col">Win Rate</th>
                                <th class="font-weight-bold pb-1 pt-2" scope="col">Pick Rate</th>

                                {% if stat.id == "hero_win_rate" or stat.id == "hero_most_played" %}
                                    <th class="font-weight-bold pb-1 pt-2" scope="col">KDA Ratio</th>
                                {% endif %}

                                {% if stat.id == "hero_most_played" %}
                                    <th class="font-weight-bold pb-1 pt-2" scope="col">Matches played</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        
                        {% for hero in stat.heros %}
                            <tr> 
                                {% with "img/hero_icon/"|add:hero.name|add:"_minimap_icon.png" as img %}
                                    <td class="pt-0 pb-0 pl-3"><img class="icon" style="width: 18px;" src="{% static img %}"><img></td>
                                {% endwith %}
                                <td class="pt-0 pb-0 ">{{hero.win_rate}}</td>
                                <td class="pt-0 pb-0 ">{{hero.pick_rate}}</td>
                                {% if hero.kill_date_ratio %}
                                    <td class="pt-0 pb-0 ">{{hero.kill_date_ratio}}</td>
                                {% endif %}
                                {% if hero.matches_played %}
                                    <td class="pt-0 pb-0 ">{{hero.matches_played}}</td>
                                {% endif %}
                            </tr> 
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
            <!-- end hero statistics -->


        {% endfor %}
        
    <div class="dark-grey-text d-flex justify-content-center"
         style="margin-right: 370PX;"
                >

        <div class="d-flex flex-column justify-content-center mr-5 mb-3 p-1 pb-2" >
            <button class=" font-weight-bold btn  blue-grey darken-3 text-default custom-no-shadows font-weight-bold filter mb-0 pt-0 pb-0 pl-4" data-rel="hero_meta_123" style="width: 150px;">
                Meta - 
                <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Herald.png' %}">
                <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Guardian.png' %}">
                <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Crusader.png' %}">
            </button>
            <button class=" font-weight-bold btn  blue-grey darken-3 text-default custom-no-shadows font-weight-bold filter mb-0 pt-0 pb-0 pl-4" data-rel="hero_meta_4" style="width: 150px;">
                Meta - <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Archon.png' %}">
            </button>
            <button class=" font-weight-bold btn  blue-grey darken-3 text-default custom-no-shadows font-weight-bold filter mb-0 pt-0 pb-0 pl-4" data-rel="hero_meta_5" style="width: 150px;">
                Meta - <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Legend.png' %}">
            </button>
            <button class=" font-weight-bold btn  blue-grey darken-3 text-default custom-no-shadows font-weight-bold filter mb-0 pt-0 pb-0 pl-4" data-rel="hero_meta_6" style="width: 150px;">
                Meta - <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Ancient.png' %}">
            </button>
            <button class=" font-weight-bold btn  blue-grey darken-3 text-default custom-no-shadows font-weight-bold filter  mb-0 pt-0 pb-0 pl-4" data-rel="hero_meta_78" style="width: 150px;">
                Meta - 
                <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Divine.png' %}">
                <img class="icon " style="width: 18px;" src="{% static 'img/emblem/Emoticon_Ranked_Immortal.png' %}">
            </button>
            <button class="font-weight-bold btn  blue-grey darken-3 text-default  custom-no-shadows font-weight-bold filter mb-0 pt-2 pb-2" data-rel="hero_win_rate" style="width: 150px;">
                Win Rate
            </button>
            <button class="font-weight-bold btn  blue-grey darken-3 text-default  custom-no-shadows font-weight-bold filter mb-0 pt-2 pb-2" data-rel="hero_most_played" style="width: 150px;">
                Most Played
            </button>
        </div>
    </div>
</div>
</footer>    